{% extends 'base.html' %}
{% block content %}
    <div class="card mx-auto mt-4">
        <div class="card-header">
            <h2 class="card-title h2">Add Review For {{ movie.title }} </h2>
        </div>
        <div class="card-body">
            {% if error %}
                <div class="alert alert-danger mt-3">{{ error }}</div>
            {% endif %}
            <div class="row my-3">
                <div class="col-md-4 my-3">
                    <img src="{{ movie.image.url }}" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-4 my-3">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <div class="form-group my-3">
                            <input 
                                type="submit" 
                                class="form-control btn btn-primary" 
                                value="Add Review">
                        </div>
                </div>
                <div class="col-md-4 my-3"></div>
            </div>
        </div>
    </div>
{% endblock content%}
