{% extends 'base.html' %}
{% block content %}
    <div class="card my-3">
        <div class="row g-0 my-3">
            <div class="col-md-4">
                <img src="{{ movie.image.url }}" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title: {{ movie.title }}</h5>
                    <p class="card-text">Description: {{ movie.description}}</p>
                    <p class="card-text">
                        {% if movie.url %}
                            <a href="{{ movie.url }}" class="btn btn-sm btn-primary">
                                Click here to watch
                            </a>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <a 
                                href="{% url 'createreview' movie.id %}"
                                class="btn btn-sm btn-primary">
                                Add Review
                            </a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <h3 class="h3 p-3">Reviews</h3>
        <div class="row mb-3 p-3">
            <div class="col">
                <ul class="list-group">
                    {% if  not reviews %}
                        <div class="alert alert-info" role="alert">
                            <strong>No review for this movie yet</strong> be the first to review it.
                        </div>
                    {% else %}
                        {% for review in reviews %}
                            <li class="list-group-item pb-3 pt-3">
                                <h5 class="card-title">
                                    Review by {{ review.user.username }}
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {{ review.date }}
                                </h6>
                                <p class="card-text">{{ review.text }}</p>
                                {% if user.is_authenticated and user == review.user %}
                                    <a class="btn btn-sm btn-primary me-2" href="{% url 'updatereview' review.id %}">Update</a>
                                    <a class="btn btn-sm btn-danger" href="{% url 'deletereview' review.id %}">Delete</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </div>
{% endblock content%}